/* css for MIB formatter */

/* color scheme: http://colorschemedesigner.com/#3S11Tw0w0w0w0 */


h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}

a {
    color: #1531ae;
}

/* clearfix */
.clearfix:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}
	
.clearfix {display: inline-block;} 

/* Hides from IE Mac \*/
* html .clearfix {height: 1%;}
.clearfix {display:block;}
/* End Hack */ 

/* end of clearfix */

#layout {
    padding-left: 300px;
}

#nav {
    padding-left: -300px;
}

#main-content {
}


.main {
    table-layout: fixed;
    font-size: 85%;
    height: 100%;
}
.main th {
    background-color: #1531AE;
    color: white;
}
.main tr {
    border: 1px solid gray;
}
.main td {
    vertical-align: top;
    height: 100%;
}
.mib_desc {
    font-size: 85%;
}

.mib_indent {
    width: 6em;
}

.tree_pattern0 {
    width: 10px;
    border-left: 2px solid #4573D5;
    display: inline-block;
    height: 100%;
}

.tree_pattern1 {
    width: 10px;
    display: inline-block;
    height: 100%;
}

.tree_pattern2 {
    width: 10px;
    display: inline-block;
    height: 100%;
    border-left: 2px solid #4573D5;
    vertical-align: top;
}

.tree_pattern3 {
    width: 10px;
    display: inline-block;
    height: 0.5em;
    border-left: 2px solid #4573D5;
    vertical-align: top;
}

.tree_hline {
    width: 10px;
    border-bottom: 2px solid #4573D5;
    height: 6px;
    display: inline-block;
    vertical-align: top;
}

.node,.scalar,.row,.column {
    /* border: 1px solid black; */
}

.node {
}

.scalar {
    /* background-color: #ffddcc; */
}

.table {
}

.row {
}

tr.column {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

tr.column_first {
    border-top: 3px solid black;
}

tr.column_last {
    border-bottom: 3px solid black;
}

/* description section */

.nodename {
    width: 90%;
    border-bottom: 2px solid blue;
}

.oid:before {
    content: "[";
}

.oid:after {
    content: "]";
}

.oid {
    font-size: 80%;
    color: green;
}

.nodetype {
    font-size: 80%;
    color: blue;
}

dt {
    font-style: italic;
}

