<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% set module_name = mib.find("./module").get("name") %}
{% macro decode_TagStr(tstr) -%}
{%- if tstr is not iterable -%}
{%- set tstr = [tstr] -%}
{%- endif %}
{% for s in tstr -%}
{{ s }}
{%- endfor %}
{% endmacro %}
{%- set nodetype1 = { "node": "", "scalar": "Type", "table": "", "row": "Index", "column": "Type", "notification": "v2Trap", "group": "Grp", "compliance": "Comp." } -%}
{% macro draw_row(n,tag="td",syntax="", oid_suffix="") -%}
<{{tag}} class="mib_indent">
{%- for i in n.get("oid")|calc_indent -%}
<span class="tree_pattern{{i}}">
{%- if i >= 2 -%}
<span class="tree_hline"> </span>
{%- endif -%}
</span>
{%- endfor -%}
</{{tag}}><{{tag}}>{{ n.get("name")|l }}</{{tag}}><{{tag}}>{{ n.get("oid")|short_oid }}<wbr/>{{ oid_suffix }}</{{tag}}>
{%- set desc = n.find("description") %}
<{{tag}} class="t_snt">{{ nodetype1[n.tag] }}</{{tag}}>
<{{tag}} class="t_syn">{{ syntax|l }}</{{tag}}>
<{{tag}} class="t_desc">{{ desc.text|truncate(120) }}</{{tag}}>
{%- endmacro %}
{%- macro build_name_list(obj_list) -%}
    {%- set objs = [] -%}
    {%- for obj in obj_list -%}
      {%- set dummy = objs.append( obj.get("name") ) -%}
    {%- endfor -%}
    {{ objs|join(", ") }}
{%- endmacro -%}

{# show heading with anchor, and add node to navigation tree #}
{%- set navitable = [] -%}
{%- macro heading1(name) -%}
{%- set linkname = "t_" ~ name|replace(" ", "_") %}
<h1><a name="{{ linkname }}"></a>{{ name }}</h1>
{%- set dummy = navitable.append( (name, linkname) ) -%}
{%- endmacro -%}
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.0/build/cssnormalize/cssnormalize-min.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.0/build/cssgrids/cssgrids-min.css">
<!-- <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.0/build/cssgrids-responsive/cssgrids-responsive-min.css"> -->
<link rel="stylesheet" type="text/css" href="mibstyle.css">
<title>{{ module_name }}</title>
</head>
<body>
<div class="yui3-g" id="layout">
<div class="yui3-u" id="main-content">
<h1>MIB: {{ module_name }} </h1>
{{ mib.find("./module/description").text|format_desc}}
<p>identity oid: {{root}}</p>
{{ heading1("Main MIB Tree") }}
<table id="nodes" class="main">
    <thead>
        <th class="hidden">1234567890</th>
        <th>Name</th>
        <th>oid</th>
        <th colspan="2">syntax / index</th>
        <th width="30%">description</th>
    </thead>
    <tbody>
    {%- for oid_t, node in mib_array %}
        {%- if node.tag == 'scalar' -%}
        <tr class="{{ node.tag }}">{{ draw_row(node, syntax=node|format_syntax) }}</tr>
        {%- elif node.tag == 'node' -%}
        <tr class="{{ node.tag }}">{{ draw_row(node) }}</tr>
        {% elif node.tag == 'table' %}
        <tr class="{{ node.tag }}">{{ draw_row(node) }}</tr>
        {%- set row = node.find("row") -%}
        <tr class="row">{{ draw_row(row, syntax=build_name_list(row.iterfind("./linkage/*" ))) }}</tr>
        {%- set suffix = row|linkage_suffix -%}
        {%- for col in row.iterfind("column") -%}
        <tr class="column {{"column_first" if loop.first}} {{"column_last" if loop.last}}">{{ draw_row(col,oid_suffix=suffix, syntax=col|format_syntax) }}</tr>
        {%- endfor -%}
        {%- elif node.tag == 'notification' -%}
        <tr class="{{ node.tag }}">{{ draw_row(node,syntax=build_name_list(node.iterfind("./objects/object" ))) }}</tr>
        {%- elif node.tag == 'group' -%}
        <tr class="{{ node.tag }}">{{ draw_row(node,syntax=build_name_list(node.iterfind("./members/member" ))) }}</tr>
        {%- elif node.tag == 'compliance' -%}
        <tr class="{{ node.tag }}">{{ draw_row(node,syntax=build_name_list(node.iterfind("./requires/*" ))) }}</tr>
        {%- else -%}
        <tr class="{{ node.tag }}">{{ draw_row(node,syntax="under construction") }}</tr>
        {%- endif -%}
    {%- endfor %}
</tbody>
</table>

{%- macro anchor(name) -%}
<a name="l_{{name}}"></a>
{%- endmacro -%}

{%- macro heading(node,showoid=true) -%}
<h2 class="nodename">{{ anchor( node.get("name")) }}{{ node.get("name") }}
{%- if showoid %} <span class="oid">{{ node.get("oid")|short_oid }}</span>{% endif %}
{%- if caller %}{{ caller() }}{%- endif %}</h2>
{%- endmacro -%}

{%- macro descsection(nodes,children) -%}
{%- for node in mib.iterfind(nodes) %}
{{ heading(node) }}
<dl>
<dt>oid</dt>
<dd>{{ node.get("oid") }}</dd>
<dt>description</dt>
<dd>{{ node.find("description").text|format_desc }}</dd>
<dt>status</dt>
<dd>{{ node.get("status") }}</dd>
<dt>objects</dt>
<dd><ol> {% for obj in node.iterfind(children) -%}
<li>{{ obj.get("name")|l }}</li>
{% endfor %}
</ol></dd>
</dl>
{%- endfor -%}
{%- endmacro -%}
{{ heading1( "Nodes" ) }}
{%- for node in mib.iterfind("nodes/*") %}
{%- if node.tag == "scalar" -%}
{% call heading(node) -%}<span class="nodetype">[Value]</span>{%- endcall %}
<dl>
  {%- for field, value in node|parse_scalar -%}
  <dt>{{ field }}</dt><dd>{{ value|format_desc }}</dd>
  {%- endfor %}
</dl>
{%- elif node.tag == "table" -%}
{% call heading(node) -%}<span class="nodetype">[Table]</span>{%- endcall %}
<dl>
  {%- for field, value in node|parse_table -%}
  <dt>{{ field }}</dt><dd>{{ value|format_desc }}</dd>
  {%- endfor %}
</dl>
<table class="main">
<tr>
  <th>oid</th>
  <th>index</th>
  <th style="width: auto">name</th>
  <th></th>
</tr>
  {%- for row in node|parse_table_toc -%}<tr>
    <td>{{ row[0] }}</td>
    <td>{{ "" if row[1] == 0 else row[1]}}</td>
    <td>{{ row[2]|l }}</td>
  </tr>{%- endfor %}
 </table>

{# table row #}
{%- set row = node.find("row") -%}
{%- set suffix = row|linkage_suffix -%}
{%- call heading(row) -%}<span class="nodetype">[Row]</span>{%- endcall %}
<dl>
  {%- for field, value in row|parse_row-%}
  <dt>{{ field }}</dt><dd>{{ value|format_desc }}</dd>
  {%- endfor %}
</dl>

{# table column #}
  {% for cnode in node.iterfind("row/column") -%}
  {% call heading(cnode,false) -%}<span class="oid">{{ cnode.get("oid")|short_oid }}{{ suffix }}</span><span class="nodetype">[Column]</span>{%- endcall %}
<dl>
  {%- for field, value in cnode|parse_scalar -%}
  <dt>{{ field }}</dt><dd>{{ value|format_desc }}</dd>
  {%- endfor %}
</dl>
  {%- endfor %}
{%- endif -%}
{% endfor -%}
{{ heading1( "Notifications" ) }}
{{ descsection("notifications/notification", "objects/object") }}
{{ heading1( "Groups" ) }}
{{ descsection("groups/group", "members/member") }}
{{ heading1( "Compliances" ) }}
{{ descsection("compliances/compliance", "requires/*") }}
{{ heading1( "Type Definitions" ) }}
{%- for node in mib.iterfind("typedefs/typedef") %}
{{ heading(node, showoid=false) }}
<dl>
  {%- for field, value in node|parse_typedef -%}
  <dt>{{ field }}</dt><dd>{{ value|format_desc }}</dd>
  {%- endfor %}
</dl>
{% endfor %}
{{ heading1( "Imports" ) }}
<table id="imports" class="main">
    <thead>
        <th>#</th>
        <th>name</th>
        <th>module</th>
    </thead>
    <tbody>
{%- for node in mib.findall("./imports/import") -%}
<tr><td>{{ anchor( node.get("name")) }}{{ loop.index }}</td><td>{{ node.get("name") }}</td><td>{{ node.get("module") }}</td></tr>
{% endfor %}
</tbody>
</table>

</div><!-- main-content -->
<div class="yui3-u" id="nav">
<span id="navtitle">Table of Contents</span>
<ul class="nav">
{% for n, lnk in navitable %}
<li><a href="#{{ lnk }}">{{ n }}</a></li>
{%- endfor %}
</ul>
</div>
</div><!-- layout -->
</body>
</html>
