<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% set module_name = mib.find("./module").get("name") %}

{# show heading with anchor, and add node to navigation tree #}
{%- set navitable = [] -%}
{%- macro heading1(name) -%}
{%- set linkname = "t_" ~ name|replace(" ", "_") %}
<h1><a name="{{ linkname }}"></a>{{ name }}</h1>
{%- set dummy = navitable.append( (name, linkname) ) -%}
{%- endmacro -%}
{# <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.17.2/cssnormalize/cssnormalize-min.css&3.17.2/cssgrids/cssgrids-min.css"> #}
{# <link rel="stylesheet" type="text/css" href="mibstyle.css"> #}
<style>
{% include "yui-3.17.2-cssnormalize-cssgrids-min.css" %}
{% include "mibstyle.css" %}
</style>
<title>{{ module_name }}</title>
</head>
<body>
<div class="yui3-g" id="layout">
<div class="yui3-u" id="main-content">
<h1>MIB: {{ module_name }} </h1>
{{ mib.find("./module/description").text|format_desc}}
<p>identity oid: {{identity}}</p>
{{ heading1("Main MIB Tree") }}
{% include "_table.html" %}
{% include "_detail.html" %}
</div><!-- main-content -->
<div class="yui3-u" id="nav">
<span id="navtitle">Table of Contents</span>
<ul class="nav">
{% for n, lnk in navitable %}
<li><a href="#{{ lnk }}">{{ n }}</a></li>
{%- endfor %}
</ul>
</div>
</div><!-- layout -->
</body>
</html>
{#
The MIT License (MIT)

Copyright (c) 2013, Gentaro Muramatsu

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
#}
